*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.body {
  background: hsl(214, 47%, 23%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-items {
  width: 500px;
  height: 500px;
  background: blueviolet;
  position: relative;
  /* left: 50%; */
  /* top: 50%; */
  /* margin-left: -250px; */
  /* transform: translate(-250px, -250px); */
}

.header-container {
  border: 2px solid hsl(217, 16%, 45%);
  border-radius: 10px;
  padding: 10px 15px;
  display: flex;
  background: blue;
  position: relative;
}

img {
  width: 100%;
}

.logo-controller {
  width: 25%;
}

.score-display {
  margin-left: auto;
  /* position: absolute; */
  right: 0;
  display: flex;
  gap: 5px;
  /* background: pink; */
  /* width: 20px; */
}

.score-box {
  background: #ffffff;
  border-radius: 5px;
  padding: 5px 25px;
}

.head-text {
  color: hsl(229, 64%, 46%);
}

.score-text {
  text-align: center;
  font-size: 30px;
  color: hsl(229, 25%, 31%);
}

.triangle-container {
  background-image: url("./images/bg-triangle.svg");
  height: 275px;
  width: 304px;
  background-repeat: no-repeat;
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -160px;
}
